@model IEnumerable<Category>
@{
    foreach (var anaKategori in Model.Where(c => c.ParentId == 0))
    {
        <div class="dropdown mt-3">
            <button class="dropdown-toggle nav-link text-dark" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                @anaKategori.Name
            </button>

            @if (Model.Where(c => c.ParentId == anaKategori.Id) is not null && Model.Where(c => c.ParentId == anaKategori.Id).Count() > 0)
            {
                <ul class="dropdown-menu">
                    @foreach (var altKategori in Model.Where(c => c.ParentId == anaKategori.Id))
                    {
                        <li><a class="dropdown-item" href="/Categories/Index/@altKategori.Id">@altKategori.Name</a></li>
                    }


                </ul>
            }
           

        </div>
    }
}