<section class="bg-light">
  <div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 col-md-3 mb-3">
          <h5>Bize Ulaşın</h5>
          <div class="col-auto">
            <div class="mb-2">
              <h6>Adress</h6>
              <p class="text-body-secondary">Edinburgh, United Kingdom</p>
            </div>
            <div class="mb-2">
              <h6>E-mail</h6>
              <p class="text-body-secondary">info1@sarideniz.com</p>
            </div>
            <div class="">
              <h6>Phone</h6>
              <p class="text-body-secondary">+44 7585 763023</p>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-2 mb-3">
          <h5>Çok Satanlar</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Handmade Küpeler</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Handmade Kolyeler</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Gümüş Kolyeler</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Deri Bileklikler</a></li>
          </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
          <h5>Popüler Ürünler</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Handmade Küpeler</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Handmade Kolye</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Handmade Bileklik</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Handmade Hediyelik Eşya</a></li>
          </ul>
        </div>

        <div class="col-md-4 offset-md-0 mb-3">
          <form>
            <h5>E-Bültene Abone Olun</h5>
            <p>Kampanyalardan önce sizin haberiniz olsun.</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button class="btn btn-primary text-nowrap" type="button">Abone Ol</button>
            </div>
          </form>
        </div>
      </div>

      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>© 2024 Sarideniz, LTD. Tüm Hakları Saklıdır.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3">
            <a class="link-body-emphasis" href="https://www.etsy.com/shop/sarideniz/" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
              <i class="bi bi-explicit-fill" style="font-size: 2rem; width: 2rem; height: 2rem; line-height: 2rem; background-color: white; color: orange; text-align: center; display: inline-block; border-radius: 0;"></i>
            </a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis" href="https://www.instagram.com/sarideniz.upcycled.jewellery/" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
              <i class="bi bi-instagram" style="font-size: 2rem; width: 2rem; height: 2rem; line-height: 2rem; text-align: center; display: inline-block;"></i>
            </a>
          </li>
          @* <li class="ms-3"> *@
          @*   <a class="link-body-emphasis" href="#" target="_blank" rel="noopener noreferrer" style="text-decoration: none;"> *@
          @*     <i class="bi bi-facebook" style="font-size: 2rem; width: 2rem; height: 2rem; line-height: 2rem; text-align: center; display: inline-block;"></i> *@
          @*   </a> *@
          @* </li> *@
        </ul>
      </div>
    </footer>
  </div>
</section>